.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
  }
  
  .login-card {
    width: 350px;
    padding: 20px;
    height: 20em;
    text-align: center;
    background-color: white;
    border-radius: 1em;
    opacity: 100px;
  }
  .title{
    display: flex;
    padding-left: 25px;
    background: #3f51b5;
}
.footer {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color:#3f51b5;;
}
.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display: inline-flex
;
  flex-direction: column;
  min-width: 0;
  text-align: left;
  width: 18em;
}